<div class="container">
    <div [hidden]="submitted">
        <h1 class="fw-bold text-center">INSTITUTO NACIONAL DE VÍAS</h1>
        <h2 class="text-center">SECRETARÍA GENERAL TÉCNICA</h2>
        <h2 class="text-center">Sistema de Administración de Puentes</h2>
        <h2 class="fw-bold text-center">SIPUCOL</h2>
        <h3 class="fw-bold text-center">Formato de Inventario de Puentes</h3>
        <h2 class="fw-bold text-center">Pontificia Universidad Javeriana</h2>
        <hr class="my-4 custom-hr">
        <form (ngSubmit)="onSubmit()" #appForm="ngForm">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" required [(ngModel)]="puente.nombre" name="nombre"
                            #name="ngModel" />
                        <!--div [hidden]="name.valid || name.pristine"
                  class="alert alert-danger">
                Name is required
              </div-->
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="identification">Identificación</label>
                        <input type="text" class="form-control" required [(ngModel)]="puente.identif" name="identif"
                            #identif="ngModel" />
                        <!--div [hidden]="identification.valid || identification.pristine"
                  class="alert alert-danger">
                Identification is required
              </div-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="box1">Carretera</label>
                        <input type="text" class="form-control" required [(ngModel)]="puente.carretera" name="carretera"
                            #carretera="ngModel" />
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="box2">PR.</label>
                        <input type="text" class="form-control" required [(ngModel)]="puente.pr" name="pr"
                            #pr="ngModel" />
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="box3">Regional</label>
                        <input type="text" class="form-control" required [(ngModel)]="puente.regional" name="regional"
                            #regional="ngModel" />
                    </div>
                </div>
            </div>

            <!-- Horizontal separator -->
            <hr class="my-4 custom-hr">

            <!-- First column starts -->
            <div class="d-flex">
                <!-- Pasos -->
                <div class="col-6 leftcolumn border-end">
                    <h3 class="fw-bold text-center">Pasos</h3>
                    <!-- Paso for loop -->
                    <div *ngFor="let paso of puente.pasos; let i = index" class="paso-form">
                        <div class="row align-items-end border-top">
                            <div class="col-6 d-flex flex-column">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name">No.</label>
                                            <input type="text" class="form-control" required [(ngModel)]="paso.numero"
                                                name="paso_{{i}}_numero" #paso_numero="ngModel" disabled
                                                placeholder="{{i + 1}}" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name">Tipo</label>
                                            <input type="text" class="form-control" required
                                                [(ngModel)]="paso.tipo_paso" name="paso_{{i}}_type"
                                                #paso_type="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name">Primero</label>
                                            <input type="text" class="form-control" required [(ngModel)]="paso.primero"
                                                name="paso_{{i}}_isFirst" #paso_isFirst="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name">Sup/Inf</label>
                                            <input type="text" class="form-control" required [(ngModel)]="paso.sup_inf"
                                                name="paso_{{i}}_supinf" #paso_supinf="ngModel" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-flex flex-column">
                                <label class="fw-bold text-center border-bottom"
                                    style="margin-bottom: 0px;">Galibo</label>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="paso_galibo">I</label>
                                            <input type="text" class="form-control" required [(ngModel)]="paso.galibo.i"
                                                name="paso_{{i}}_galibo_i" #paso_galibo_i="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="paso_galibo_im">IM</label>
                                            <input type="text" class="form-control" required
                                                [(ngModel)]="paso.galibo.im" name="paso_{{i}}_galibo_im"
                                                #paso_galibo_im="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="paso_galibo_dm">DM</label>
                                            <input type="text" class="form-control" required
                                                [(ngModel)]="paso.galibo.dm" name="paso_{{i}}_galibo_dm"
                                                #paso_galibo_dm="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="paso_galibo_d">D</label>
                                            <input type="text" class="form-control" required [(ngModel)]="paso.galibo.d"
                                                name="paso_{{i}}_galibo_d" #paso_galibo_d="ngModel" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Datos Administrativos -->
                    <h3 class="fw-bold text-center">Datos Administrativos</h3>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Año de construcción</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_administrativos.anio_construccion" name="anio_construccion"
                                    #anio_construccion="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Año de reconstrucción</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_administrativos.anio_reconstruccion" name="anio_reconstruccion"
                                    #anio_reconstruccion="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Dirección de absc. de la carretera</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_administrativos.direccion_absc_carretera"
                                    name="direccion_absc_carretera" #direccion_absc_carretera="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Requisitos de inspección</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_administrativos.requisitos_inspeccion"
                                    name="requisitos_inspeccion" #requisitos_inspeccion="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Número de secciones de inspección</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_administrativos.numero_secciones_inspeccion"
                                    name="numero_secciones_inspeccion" #numero_secciones_inspeccion="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Estación de conteo</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_administrativos.estacion_conteo" name="estacion_conteo"
                                    #estacion_conteo="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Fecha de recolección de datos</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_administrativos.recha_recoleccion_datos"
                                    name="recha_recoleccion_datos" #recha_recoleccion_datos="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Iniciales del inspector</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_administrativos.iniciales_inspector" name="iniciales_inspector"
                                    #iniciales_inspector="ngModel" />
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Datos Técnicos -->
                    <h3 class="fw-bold text-center">Datos Técnicos</h3>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Número de luces</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.numero_luces" name="numero_luces"
                                    #numero_luces="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Longitud luz menor (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.longitud_luz_menor" name="longitud_luz_menor"
                                    #longitud_luz_menor="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Longitud luz mayor (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.longitud_luz_mayor" name="longitud_luz_mayor"
                                    #longitud_luz_mayor="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Longitud total (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.longitud_total" name="longitud_total"
                                    #longitud_total="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Ancho del tablero (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.ancho_tablero" name="ancho_tablero"
                                    #ancho_tablero="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Ancho del separador (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.ancho_separador" name="ancho_separador"
                                    #ancho_separador="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Ancho del andén izquierdo (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.ancho_anden_izq" name="ancho_anden_izq"
                                    #ancho_anden_izq="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Ancho del andén derecho (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.ancho_anden_der" name="ancho_anden_der"
                                    #ancho_anden_der="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Ancho de calzada (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.ancho_calzada" name="ancho_calzada"
                                    #ancho_calzada="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Ancho entre bordillos (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.ancho_entre_bordillos" name="ancho_entre_bordillos"
                                    #ancho_entre_bordillos="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Ancho del acceso (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.ancho_acceso" name="ancho_acceso"
                                    #ancho_acceso="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Altura de pilas</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.altura_pilas" name="altura_pilas"
                                    #altura_pilas="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Altura de estribos</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.altura_estribos" name="altura_estribos"
                                    #altura_estribos="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Longitud de apoyo en pilas (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.longitud_apoyo_pilas" name="longitud_apoyo_pilas"
                                    #longitud_apoyo_pilas="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Longitud de apoyo en estribos (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.longitud_apoyo_estribos" name="longitud_apoyo_estribos"
                                    #longitud_apoyo_estribos="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Puente en terraplén (S/N)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.puente_terrapien" name="puente_terrapien"
                                    #puente_terrapien="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Puente en Curva/Tangente (C/T)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.puente_curva_tangente" name="puente_curva_tangente"
                                    #puente_curva_tangente="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Esviajamiento (gra)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="datos_tecnicos.esviajamiento" name="esviajamiento"
                                    #esviajamiento="ngModel" />
                            </div>
                        </div>
                    </div>
                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Superestructura starts -->
                    <div *ngFor="let paso of puente.superestructuras; let i = index" class="superestructura-form">
                        <div *ngIf="i === 0">
                            <h3 class="fw-bold text-center">Superestructura - Principal</h3>
                        </div>
                        <div *ngIf="i === 1">
                            <h3 class="fw-bold text-center">Superestructura - Secundario</h3>
                        </div>
                        <div class="row align-items-end border-top">
                            <div class="col">
                                <div class="form-group leftcolumn">
                                    <label for="name">Diseño tipo (S/N)</label>
                                    <input type="text" class="form-control" required
                                        [(ngModel)]="superestructura.disenio_tipo"
                                        name="superestructura_{{i}}_disenio_tipo" #disenio_tipo="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group rightcolumn">
                                    <label for="name">Tipo de estructuración transversal</label>
                                    <input type="text" class="form-control" required
                                        [(ngModel)]="superestructura.tipo_estructuracion_transversal"
                                        name="superestructura_{{i}}_tipo_estructuracion_transversal"
                                        #tipo_estructuracion_transversal="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group leftcolumn">
                                    <label for="name">Tipo de estructuración longitudinal</label>
                                    <input type="text" class="form-control" required
                                        [(ngModel)]="superestructura.tipo_estructuracion_longitudinal"
                                        name="superestructura_{{i}}_tipo_estructuracion_longitudinal"
                                        #tipo_estructuracion_longitudinal="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group rightcolumn">
                                    <label for="name">Material</label>
                                    <input type="text" class="form-control" required
                                        [(ngModel)]="superestructura.material" name="superestructura_{{i}}_material"
                                        #material="ngModel" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Superestructura ends -->
                </div>
                <!-- First column ends-->

                <!-- Vertical separator-->
                <div class="vr"></div>

                <!-- Second column starts -->
                <div class="col-6 rightcolumn">
                    <!-- Subestructura -->
                    <h3 class="fw-bold text-center">Subestructura</h3>
                    <div class="row align-items-start border-top">
                        <!-- First column starts -->
                        <div class="col-6 d-flex flex-column border-end">
                            <!-- Estribos -->
                            <label class="fw-bold text-center border-bottom"
                                style="margin-bottom: 0px;">Estribos</label>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Tipo</label>
                                    <input type="text" class="form-control" required [(ngModel)]="estribo.tipo"
                                        name="tipo" #tipo="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Material</label>
                                    <input type="text" class="form-control" required [(ngModel)]="estribo.material"
                                        name="material" #material="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Tipo de cimentación</label>
                                    <input type="text" class="form-control" required
                                        [(ngModel)]="estribo.tipo_cimentacion" name="tipo_cimentacion"
                                        #tipo_cimentacion="ngModel" />
                                </div>
                            </div>

                            <!-- Detalles -->
                            <label class="fw-bold text-center border-bottom"
                                style="margin-bottom: 0px;">Detalles</label>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Tipo de baranda</label>
                                    <input type="text" class="form-control" required [(ngModel)]="detalle.tipo_baranda"
                                        name="tipo_baranda" #tipo_baranda="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Superficie de rodadura</label>
                                    <input type="text" class="form-control" required
                                        [(ngModel)]="detalle.superficie_rodadura" name="superficie_rodadura"
                                        #superficie_rodadura="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Junta de expansión</label>
                                    <input type="text" class="form-control" required
                                        [(ngModel)]="detalle.junta_expansion" name="junta_expansion"
                                        #junta_expansion="ngModel" />
                                </div>
                            </div>
                        </div>
                        <!-- Second sub-column starts -->
                        <div class="col-6 d-flex flex-column">
                            <!-- Pilas -->
                            <label class="fw-bold text-center border-bottom" style="margin-bottom: 0px;">Pilas</label>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Tipo</label>
                                    <input type="text" class="form-control" required [(ngModel)]="pila.tipo" name="tipo"
                                        #tipo="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Material</label>
                                    <input type="text" class="form-control" required [(ngModel)]="pila.material"
                                        name="material" #material="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Tipo de cimentación</label>
                                    <input type="text" class="form-control" required [(ngModel)]="pila.tipo_cimentacion"
                                        name="tipo_cimentacion" #tipo_cimentacion="ngModel" />
                                </div>
                            </div>
                            <!-- Señales -->
                            <label class="fw-bold text-center border-bottom" style="margin-bottom: 0px;">Señales</label>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Carga máxima</label>
                                    <input type="text" class="form-control" required [(ngModel)]="senial.carga_maxima"
                                        name="carga_maxima" #carga_maxima="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Velocidad máxima</label>
                                    <input type="text" class="form-control" required
                                        [(ngModel)]="senial.velocidad_maxima" name="velocidad_maxima"
                                        #velocidad_maxima="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Otra</label>
                                    <input type="text" class="form-control" required [(ngModel)]="senial.otra"
                                        name="otra" #otra="ngModel" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Apoyos -->
                    <h3 class="fw-bold text-center">Apoyos</h3>
                    <div class="d-flex border-top">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Tipos de apoyos fijos sobre estribos</label>
                                <input type="text" class="form-control" required [(ngModel)]="apoyo.fijo_sobre_estribo"
                                    name="fijo_sobre_estribo" #fijo_sobre_estribo="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Tipos de apoyos móviles sobre estribos</label>
                                <input type="text" class="form-control" required [(ngModel)]="apoyo.movil_sobre_estribo"
                                    name="movil_sobre_estribo" #movil_sobre_estribo="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Tipos de apoyos fijos en pilas</label>
                                <input type="text" class="form-control" required [(ngModel)]="apoyo.fijo_en_pila"
                                    name="fijo_en_pila" #fijo_en_pila="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Tipos de apoyos móviles en pilas</label>
                                <input type="text" class="form-control" required [(ngModel)]="apoyo.movil_en_pila"
                                    name="movil_en_pila" #movil_en_pila="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex border-bottom">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Tipos de apoyos fijos en vigas</label>
                                <input type="text" class="form-control" required [(ngModel)]="apoyo.fijo_en_viga"
                                    name="fijo_en_viga" #fijo_en_viga="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Tipos de apoyos móviles en vigas</label>
                                <input type="text" class="form-control" required [(ngModel)]="apoyo.movil_en_viga"
                                    name="movil_en_viga" #movil_en_viga="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Vehículo de diseño</label>
                                <input type="text" class="form-control" required [(ngModel)]="apoyo.vehiculo_disenio"
                                    name="vehiculo_disenio" #vehiculo_disenio="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Clase de distribución de carga</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="apoyo.clase_distribucion_carga" name="clase_distribucion_carga"
                                    #clase_distribucion_carga="ngModel" />
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Miembros interesados -->
                    <h3 class="fw-bold text-center">Miembros interesados</h3>
                    <div class="d-flex border-top">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Propietario</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="miembros_interesados.propietario" name="propietario"
                                    #propietario="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn leftcolumn">
                                <label for="name">Departamento</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="miembros_interesados.departamento" name="departamento"
                                    #departamento="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Administrador Vial</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="miembros_interesados.administrador_vial" name="administrador_vial"
                                    #administrador_vial="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Proyectista</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="miembros_interesados.proyectista" name="proyectista"
                                    #proyectista="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Municipio</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="miembros_interesados.municipio" name="municipio"
                                    #municipio="ngModel" />
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Posición geográfica -->
                    <h3 class="fw-bold text-center">Posición Geográfica</h3>
                    <div class="row align-items-end border-top">
                        <div class="col-8 d-flex leftcolumn border-end">
                            <!-- Coordenada for loop -->
                            <div *ngFor="let coordenada of posicion_geografica.coordenadas; let i = index"
                                class="coordenadas-form">
                                <div *ngIf="i === 0" class="text-center border-bottom">
                                    <label class="fw-bold" style="margin-bottom: 0px;">Altitud</label>
                                </div>
                                <div *ngIf="i === 1" class="text-center border-bottom">
                                    <label class="fw-bold" style="margin-bottom: 0px;">Longitud</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="grados">G.</label>
                                            <input type="text" class="form-control" required
                                                [(ngModel)]="coordenada.grados" name="coordenada_{{i}}_grados"
                                                #coordenada_grados="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="minutos">Min.</label>
                                            <input type="text" class="form-control" required
                                                [(ngModel)]="coordenada.minutos" name="coordenada_{{i}}_minutos"
                                                #coordenada_minutos="ngModel" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group rightcolumn">
                                <label for="name">Altitud (m)</label>
                                <input type="text" class="form-control" required
                                    [(ngModel)]="posicion_geografica.altitud" name="altitud"
                                    #altitud="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        afds
                    </div>

                    
                </div>
                <!-- Second column ends -->
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!appForm.form.valid">
                Submit
            </button>
        </form>
    </div>
    <!--div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ model.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Alter Ego</div>
            <div class="col-xs-9">{{ model.alterEgo }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Power</div>
            <div class="col-xs-9">{{ model.power }}</div>
        </div>
        <br />
        <button type="button" class="btn btn-primary" (click)="submitted = false">
            Edit
        </button>
    </div-->
    <!--div class="container">
        <h3>App Form</h3>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required />
            </div>

            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" class="form-control" id="alterEgo" />
            </div>

            <div class="form-group">
                <label for="power">App Power</label>
                <select class="form-control" id="power" required>
                    <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<hr />
<style>
    .no-style .ng-valid {
        border-left: 1px solid #CCC
    }

    .no-style .ng-invalid {
        border-left: 1px solid #CCC
    }
</style>
<div class="no-style" style="margin-left: 4px"-->
    <!-- ====================================================  -->
    <!--hr />
    <div class="container">
        <h2>App Form</h2>
        <form #appForm="ngForm">
            {{ model | json }}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" />
            </div>

            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo" />
            </div>

            <div class="form-group">
                <label for="power">App Power</label>
                <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
                    <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div-->

    <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
    <!--hr />
    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" />
    TODO: remove this: {{ model.name }}
    <hr />
    <input type="text" class="form-control" id="name" required [ngModel]="model.name" name="name"
        (ngModelChange)="model.name = $event" /-->
    <!-- TODO: remove this: {{ model.name }} -->
</div>