<div class="container">
    <div [hidden]="submitted">
        <h1 class="fw-bold text-center">INSTITUTO NACIONAL DE VÍAS</h1>
        <h2 class="text-center">SECRETARÍA GENERAL TÉCNICA</h2>
        <h2 class="text-center">Sistema de Administración de Puentes</h2>
        <h2 class="fw-bold text-center">SIPUCOL</h2>
        <h3 class="fw-bold text-center">Formato de Inventario de Puentes</h3>
        <h2 class="fw-bold text-center">Pontificia Universidad Javeriana</h2>
        <hr class="my-4 custom-hr">
        <form (ngSubmit)="onSubmit()" #appForm="ngForm">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
                            #name="ngModel" />
                        <!--div [hidden]="name.valid || name.pristine"
                  class="alert alert-danger">
                Name is required
              </div-->
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="identification">Identificación</label>
                        <input type="text" class="form-control" id="id" required [(ngModel)]="model.id" name="id"
                            #identification="ngModel" />
                        <!--div [hidden]="identification.valid || identification.pristine"
                  class="alert alert-danger">
                Identification is required
              </div-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="box1">Carretera</label>
                        <input type="text" class="form-control" id="road" required [(ngModel)]="model.road" name="road"
                            #box1="ngModel" />
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="box2">PR.</label>
                        <input type="text" class="form-control" id="pr" required [(ngModel)]="model.pr" name="pr"
                            #box2="ngModel" />
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="box3">Regional</label>
                        <input type="text" class="form-control" id="regional" required [(ngModel)]="model.regional"
                            name="regional" #box3="ngModel" />
                    </div>
                </div>
            </div>

            <!-- First column starts -->
            <hr class="my-4 custom-hr">
            <div class="d-flex">
                <!-- Pasos -->
                <div class="col-6 leftcolumn border-end">
                    <h3 class="fw-bold text-center">Pasos</h3>
                    <!-- Primer Paso -->
                    <div class="row align-items-end border-top">
                        <div class="col-6 d-flex flex-column">
                            <br>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">No.</label>
                                        <input type="text" class="form-control" id="paso_number" required
                                            [(ngModel)]="model.paso_number" name="paso_number" #name="ngModel" disabled placeholder="1"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Tipo</label>
                                        <input type="text" class="form-control" id="paso_type" required
                                            [(ngModel)]="model.paso_type" name="paso_type" #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Primero</label>
                                        <input type="text" class="form-control" id="paso_isFirst" required
                                            [(ngModel)]="model.paso_isFirst" name="paso_isFirst"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Sup/Inf</label>
                                        <input type="text" class="form-control" id="paso_supinf" required
                                            [(ngModel)]="model.paso_supinf" name="paso_supinf"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <label class="fw-bold text-center border-bottom" style="margin-bottom: 0px;">Galibo</label>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="paso_galibo_i">I</label>
                                        <input type="text" class="form-control" id="paso_galibo_i" required
                                            [(ngModel)]="model.paso_galibo_i" name="paso_galibo_i"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">IM</label>
                                        <input type="text" class="form-control" id="paso_galibo_im" required
                                            [(ngModel)]="model.paso_galibo_im" name="paso_galibo_im"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">DM</label>
                                        <input type="text" class="form-control" id="paso_galibo_dm" required
                                            [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">D</label>
                                        <input type="text" class="form-control" id="paso_galibo_d" required
                                            [(ngModel)]="model.paso_galibo_d" name="paso_galibo_d"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Segundo paso -->
                    <div class="row align-items-end border-top">
                        <div class="col-6 d-flex flex-column">
                            <br>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">No.</label>
                                        <input type="text" class="form-control" id="paso_number" required
                                            [(ngModel)]="model.paso_number" name="paso_number" #name="ngModel" disabled placeholder="2"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Tipo</label>
                                        <input type="text" class="form-control" id="paso_type" required
                                            [(ngModel)]="model.paso_type" name="paso_type" #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Primero</label>
                                        <input type="text" class="form-control" id="paso_isFirst" required
                                            [(ngModel)]="model.paso_isFirst" name="paso_isFirst"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Sup/Inf</label>
                                        <input type="text" class="form-control" id="paso_supinf" required
                                            [(ngModel)]="model.paso_supinf" name="paso_supinf"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <label class="fw-bold text-center border-bottom" style="margin-bottom: 0px;">Galibo</label>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="paso_galibo_i">I</label>
                                        <input type="text" class="form-control" id="paso_galibo_i" required
                                            [(ngModel)]="model.paso_galibo_i" name="paso_galibo_i"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">IM</label>
                                        <input type="text" class="form-control" id="paso_galibo_im" required
                                            [(ngModel)]="model.paso_galibo_im" name="paso_galibo_im"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">DM</label>
                                        <input type="text" class="form-control" id="paso_galibo_dm" required
                                            [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">D</label>
                                        <input type="text" class="form-control" id="paso_galibo_d" required
                                            [(ngModel)]="model.paso_galibo_d" name="paso_galibo_d"
                                            #identification="ngModel" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Datos Administrativos -->
                    <h3 class="fw-bold text-center">Datos Administrativos</h3>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Año de construcción</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Año de reconstrucción</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Dirección de absc. de la carretera</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Requisitos de inspección</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Número de secciones de inspección</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Estación de conteo</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Fecha de recolección de datos</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Iniciales del inspector</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Datos Técnicos -->
                    <h3 class="fw-bold text-center">Datos Técnicos</h3>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Número de luces</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Longitud luz menor (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Longitud luz mayor (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Longitud total (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Ancho del tablero (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Ancho del separador (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Ancho del andén izquierdo (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Ancho del andén derecho (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Ancho de calzada (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Ancho entre bordillos (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Ancho del acceso (m)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Altura de pilas</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Altura de estribos</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Puente en terraplén (S/N)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Puente en Curva/Tangente (C/T)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Esviajamiento (gra)</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- First column ends-->

                <!-- Vertical separator-->
                <div class="vr"></div>

                <!-- Second column starts -->
                <div class="col-6 rightcolumn">
                    <!-- Subestructura -->
                    <h3 class="fw-bold text-center">Subestructura</h3>
                    <div class="row align-items-start border-top">
                        <!-- First column starts -->
                        <div class="col-6 d-flex flex-column border-end">
                            <!-- Estribos -->
                            <label class="fw-bold text-center border-bottom"
                                style="margin-bottom: 0px;">Estribos</label>
                            <div class="col">
                                <div class="form-group estribo">
                                    <label for="name">Tipo</label>
                                    <input type="text" class="form-control" id="paso_number" required
                                        [(ngModel)]="model.paso_number" name="paso_number" #name="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group estribo">
                                    <label for="name">Material</label>
                                    <input type="text" class="form-control" id="paso_type" required
                                        [(ngModel)]="model.paso_type" name="paso_type" #identification="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Tipo de cimentación</label>
                                    <input type="text" class="form-control" id="paso_isFirst" required
                                        [(ngModel)]="model.paso_isFirst" name="paso_isFirst"
                                        #identification="ngModel" />
                                </div>
                            </div>

                            <!-- Detalles -->
                            <label class="fw-bold text-center border-bottom"
                                style="margin-bottom: 0px;">Detalles</label>
                            <div class="col">
                                <div class="form-group estribo">
                                    <label for="name">Tipo de baranda</label>
                                    <input type="text" class="form-control" id="paso_number" required
                                        [(ngModel)]="model.paso_number" name="paso_number" #name="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group estribo">
                                    <label for="name">Superficie de rodadura</label>
                                    <input type="text" class="form-control" id="paso_type" required
                                        [(ngModel)]="model.paso_type" name="paso_type" #identification="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Junta de expansión</label>
                                    <input type="text" class="form-control" id="paso_isFirst" required
                                        [(ngModel)]="model.paso_isFirst" name="paso_isFirst"
                                        #identification="ngModel" />
                                </div>
                            </div>
                        </div>
                        <!-- Second column starts -->
                        <div class="col-6 d-flex flex-column">
                            <!-- Pilas -->
                            <label class="fw-bold text-center border-bottom"
                                style="margin-bottom: 0px;">Pilas</label>
                            <div class="col">
                                <div class="form-group estribo">
                                    <label for="name">Tipo</label>
                                    <input type="text" class="form-control" id="paso_number" required
                                        [(ngModel)]="model.paso_number" name="paso_number" #name="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group estribo">
                                    <label for="name">Material</label>
                                    <input type="text" class="form-control" id="paso_type" required
                                        [(ngModel)]="model.paso_type" name="paso_type" #identification="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Tipo de cimentación</label>
                                    <input type="text" class="form-control" id="paso_isFirst" required
                                        [(ngModel)]="model.paso_isFirst" name="paso_isFirst"
                                        #identification="ngModel" />
                                </div>
                            </div>
                            <!-- Señales -->
                            <label class="fw-bold text-center border-bottom"
                                style="margin-bottom: 0px;">Señales</label>
                            <div class="col">
                                <div class="form-group estribo">
                                    <label for="name">Carga máxima</label>
                                    <input type="text" class="form-control" id="paso_number" required
                                        [(ngModel)]="model.paso_number" name="paso_number" #name="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group estribo">
                                    <label for="name">Velocidad máxima</label>
                                    <input type="text" class="form-control" id="paso_type" required
                                        [(ngModel)]="model.paso_type" name="paso_type" #identification="ngModel" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Otro</label>
                                    <input type="text" class="form-control" id="paso_isFirst" required
                                        [(ngModel)]="model.paso_isFirst" name="paso_isFirst"
                                        #identification="ngModel" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Apoyos -->
                    <h3 class="fw-bold text-center">Apoyos</h3>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Tipos de apoyos fijos sobre estribos</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Tipos de apoyos móviles sobre estribos</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Tipos de apoyos fijos en pilas</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Tipos de apoyos móviles en pilas</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex border-bottom">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Tipos de apoyos fijos en vigas</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Tipos de apoyos móviles en vigas</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group leftcolumn">
                                <label for="name">Vehículo de diseño</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Clase de distribución de carga</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal separator -->
                    <hr class="my-4 custom-hr">

                    <!-- Miembros interesados -->
                    <h3 class="fw-bold text-center">Miembros interesados</h3>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Propietario</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Departamento</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Administrador Vial</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Proyectista</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group rightcolumn">
                                <label for="name">Municipio</label>
                                <input type="text" class="form-control" id="paso_galibo_dm" required
                                    [(ngModel)]="model.paso_galibo_dm" name="paso_galibo_dm"
                                    #identification="ngModel" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!--div class="row">
                <div class="col-xs-1">
                    <div class="form-group">
                        <label for="name" style="display: block; white-space: nowrap;">No.</label>
                        <input type="text" class="form-control" id="paso_number_two" required
                            [(ngModel)]="model.paso_number_two" name="paso_number_two" #name="ngModel" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <label for="name" style="display: block; white-space: nowrap;">Tipo Paso</label>
                        <input type="text" class="form-control" id="paso_type_two" required
                            [(ngModel)]="model.paso_type_two" name="paso_type_two" #identification="ngModel" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <label for="name" style="display: block; white-space: nowrap;">Primero (S/N)</label>
                        <input type="text" class="form-control" id="paso_isFirst_two" required
                            [(ngModel)]="model.paso_isFirst_two" name="paso_isFirst_two" #identification="ngModel" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <label for="name" style="display: block; white-space: nowrap;">Sup/Inf (S/I)</label>
                        <input type="text" class="form-control" id="paso_supInf_two" required
                            [(ngModel)]="model.paso_supInf_two" name="paso_supInf_two" #identification="ngModel" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <label for="name" style="display: block; white-space: nowrap;">Galibo I</label>
                        <input type="text" class="form-control" id="paso_galibo_one_two" required
                            [(ngModel)]="model.paso_galibo_one_two" name="paso_galibo_one_two"
                            #identification="ngModel" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <label for="name" style="display: block; white-space: nowrap;">Galibo IM</label>
                        <input type="text" class="form-control" id="paso_galibo_im_two" required
                            [(ngModel)]="model.paso_galibo_im_two" name="paso_galibo_im_two"
                            #identification="ngModel" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <label for="name" style="display: block; white-space: nowrap;">Galibo DM</label>
                        <input type="text" class="form-control" id="paso_galibo_dm_two" required
                            [(ngModel)]="model.paso_galibo_dm_two" name="paso_galibo_dm_two"
                            #identification="ngModel" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <label for="name" style="display: block; white-space: nowrap;">Galibo D</label>
                        <input type="text" class="form-control" id="paso_galibo_d_two" required
                            [(ngModel)]="model.paso_galibo_d_two" name="paso_galibo_d_two" #identification="ngModel" />
                    </div>
                </div>
            </div>

            <h3>Datos Administrativos</h3>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Año de construcción</label>
                        <input type="text" class="form-control" id="constructionyear" required
                            [(ngModel)]="model.constructionyear" name="constructionyear" #name="ngModel" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Año de reconstrucción</label>
                        <input type="text" class="form-control" id="reconstructionyear" required
                            [(ngModel)]="model.reconstructionyear" name="reconstructionyear" #name="ngModel" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Dirección de absc- de la carretera (N/S/E/O)</label>
                        <input type="text" class="form-control" id="absc_direction" required
                            [(ngModel)]="model.absc_direction" name="absc_direction" #name="ngModel" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Requisitos de inspección</label>
                        <input type="text" class="form-control" id="inspectionrequirements" required
                            [(ngModel)]="model.inspectionrequirements" name="inspectionrequirements" #name="ngModel" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Número de secciones de inspección</label>
                        <input type="text" class="form-control" id="section_numbers" required
                            [(ngModel)]="model.section_numbers" name="section_numbers" #name="ngModel" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Estación de conteo</label>
                        <input type="text" class="form-control" id="count_station" required
                            [(ngModel)]="model.count_station" name="count_station" #name="ngModel" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Fecha de recolección de datos</label>
                        <input type="text" class="form-control" id="recollection_date" required
                            [(ngModel)]="model.recollection_date" name="recollection_date" #name="ngModel" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Iniciales del Inspector</label>
                        <input type="text" class="form-control" id="inspector_initials" required
                            [(ngModel)]="model.inspector_initials" name="inspector_initials" #name="ngModel" />
                    </div>
                </div>
            </div>

            <h3>Datos Administrativos</h3>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Número de luces</label>
                        <input type="text" class="form-control" id="no_lights" required [(ngModel)]="model.no_lights"
                            name="no_lights" #name="ngModel" />
                    </div>
                </div>
            </div-->

            <button type="submit" class="btn btn-success" [disabled]="!appForm.form.valid">
                Submit
            </button>
        </form>
    </div>
    <!--div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ model.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Alter Ego</div>
            <div class="col-xs-9">{{ model.alterEgo }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Power</div>
            <div class="col-xs-9">{{ model.power }}</div>
        </div>
        <br />
        <button type="button" class="btn btn-primary" (click)="submitted = false">
            Edit
        </button>
    </div-->
    <!--div class="container">
        <h3>App Form</h3>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required />
            </div>

            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" class="form-control" id="alterEgo" />
            </div>

            <div class="form-group">
                <label for="power">App Power</label>
                <select class="form-control" id="power" required>
                    <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<hr />
<style>
    .no-style .ng-valid {
        border-left: 1px solid #CCC
    }

    .no-style .ng-invalid {
        border-left: 1px solid #CCC
    }
</style>
<div class="no-style" style="margin-left: 4px"-->
    <!-- ====================================================  -->
    <!--hr />
    <div class="container">
        <h2>App Form</h2>
        <form #appForm="ngForm">
            {{ model | json }}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" />
            </div>

            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo" />
            </div>

            <div class="form-group">
                <label for="power">App Power</label>
                <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
                    <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div-->

    <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
    <!--hr />
    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" />
    TODO: remove this: {{ model.name }}
    <hr />
    <input type="text" class="form-control" id="name" required [ngModel]="model.name" name="name"
        (ngModelChange)="model.name = $event" /-->
    <!-- TODO: remove this: {{ model.name }} -->
</div>